/****************************************/
p{
  text-align: justify;
  text-justify: inter-word;
}
body
{
   width: 960px;
   margin: auto;
   background-color: white;
}
/****************************************/
.container
{
  padding: 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35);
  background-color: #D1E0F3;
                    /*#becdeb; *azul paleta*/
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}
.tit
{
  font-size: 50px;
  margin: 15px;
  text-align: center;
}
/****************************************/
.historia
{
  padding: 30px;
}
.txt-negrito
{
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  background-color: #F5E6E5;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}
/****************************************/
.abrangencia
{
  padding: 30px;
}
.abrangencia-i
{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.abrangencia-img
{
  width: 450px;
  padding: 5px;
}
.abrangencia-img img
{
   width: 100%;
   height: 100%;
}
.abrangencia-lista
{
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-group
{
   width: 145px;
}
/****************************************/
.objetivo-metodologia
{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F5E6E5;
                     /*#FBF4F4; rosa quase branco*/
                    /*#ebbeed;  rosa da paleta */
}
.objetivo-metodologia ul
{
  list-style-type:square;
}
.objmetod
{
  width: 400px;
}
/****************************************/
.caracteristicas
{
  padding: 30px;
}
/****************************************/
.capacidade-foto img
{
   width: 100%;
}
.capacidade
{
  margin-left: 5px;
  padding: 30px;
}
.capacidade-lista
{
  width: 100% !important;
}
/****************************************/
.view
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
.view-card
{
  width: 280px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35);
  padding: 10px;
  background-color: #F5E6E5;
  border-radius: 10px;
}
/****************************************/
